
@media (max-width: 576px) { 
    /* start header */
    #header{
        min-height: 110vh;
        position: relative;
        /* display: none; */
    }
    #main_right_header > div > h1{
        font-size: 2.5rem!important;
    }
    /* start foot header */
    #header>div>div>#foot_main_header{

        width: 100%!important;
    
        z-index: 10;
        transform: translate(10px,200px);
    }
    /* end foot header */

    /* end header */
    /* start gameLogo */
        /* start gameLogo */
        #gameLogo{
            /* transform: translateY(-45%); */
            width: 80%;
            z-index: 10;
            position: absolute;
            top:600px;
            left: 10%;
        }
    /* end gameLogo */
    /* end gameLogo */
/* start experience */
#experience{
    padding: 0px!important;
}
#experience_img{
    position: relative;
    z-index: 10;
}
#experience_img::before{
    background-image: url(../images/experience/shape1.png);
    content: '';
    width: 80%;
    height: 150px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: -1;
}
#experience_img::after{
    background-image: url(../images/experience/shape2.png);
    content: '';
    width: 50%;
    height: 100px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -10px;
    right: -5px;
    z-index: -1;
}
#experience_img > span{
    z-index: 10;
    background-image: url(../images/experience/exprience-shape.png);
    width: 50%;
    height: 60px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: -40%;
    left: 30%;
    /* display: none; */
}
/* end experience  */
/* start stream */
    #stream > div > div > figure>figcaption{
   
        top: 85%;
        left: 50%;
        transform: translate(-50%,-50%);
        
        
    }
    #stream > div > div > figure>span:nth-of-type(2){
      
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);


        
    }
    @keyframes play {
        to{
            scale: 1.5;
            opacity: 0;
            top: 59%;
            left: 56%;
            transform: translate(-50%,-50%);
        }
    }
/* end stream */

/* start shop */


}

@media (min-width: 576px) { 


     /* start header */
     #header{
        min-height: 130vh;
        position: relative;
        /* display: none; */
    }
     #main_right_header > div > h1{
        font-size: 3rem!important;
    }
    /* start foot header */
    #header>div>div>#foot_main_header{

        width: 100%!important;
    
        z-index: 10;
        transform: translate(10px,200px);
    }
    /* end foot header */
    /* end header */
    /* start gameLogo */
    #gameLogo{
        /* transform: translateY(-45%); */
        width: 80%;
        z-index: 10;
        position: absolute;
        top:115%;
        left: 10%;
    }
/* end gameLogo */
    /* start experience */
#experience{
    padding: 0px!important;
}
#experience_img{
    position: relative;
    z-index: 10;
}
#experience_img::before{
    background-image: url(../images/experience/shape1.png);
    content: '';
    width: 80%;
    height: 300px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: -1;
}
#experience_img::after{
    background-image: url(../images/experience/shape2.png);
    content: '';
    width: 50%;
    height: 150px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -20px;
    right: -10px;
    z-index: -1;
}
#experience_img > span{
    z-index: 10;
    background-image: url(../images/experience/exprience-shape.png);
    width: 50%;
    height: 200px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: -15%;
    left: -30%;
    /* display: none; */
}
/* end experience  */


 }


@media (min-width: 768px) { 
    /* start header */
    /* start foot header */
    #header>div>div>#foot_main_header{

        width: 100%!important;
    
        z-index: 10;
        transform: translate(7%,70%);
    }
    /* end foot header */
    /* end header */
/* start experience */
    #experience_img > span{
        z-index: 5;
        background-image: url(../images/experience/exprience-shape.png);
        width: 30%;
        height: 200px;
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        top: -6%;
        left: -25%;
    }
    /* end experience */
 }


@media (min-width: 992px) { 
 /* start header */
 #main_right_header > div > h1{
    font-size: 4rem!important;
    /* end header */
    }
        /* start experience */
    #experience{
        padding: 0px!important;
    }
    #experience>div{
        margin-top: 200px;
    }
    #experience_img{
        position: relative;
        z-index: 10;
        height: 400px;
    }
    #experience_img>img{
        height: 380px;
        object-fit: contain;

    }
    #experience_img::before{
        background-image: url(../images/experience/shape1.png);
        content: '';
        width: 80%;
        height: 300px;
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        top: -20px;
        left: -20px;
        z-index: -1;
    }
    #experience_img::after{
        background-image: url(../images/experience/shape2.png);
        content: '';
        width: 50%;
        height: 150px;
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0%;
        right: -10px;
        z-index: -1;
    }
    #experience_img > span{
        z-index: 10;
        background-image: url(../images/experience/exprience-shape.png);
        width: 50%;
        height: 200px;
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        top: 0%;
        left: -15%;
        /* display: none; */
    }
    /* end experience  */
 }


@media (min-width: 1200px) { 


     /* start header */
 #main_right_header > div > h1{
    font-size: 4.8rem!important;
        
    }
     /* start foot header */
     #header>div>div>#foot_main_header{

        width: 100%!important;
    
        z-index: 10;
        transform: translate(7%,70%);
    }
    /* end foot header */
/* end header */


/* start experience */



#experience_img::before{
   
    top: -5%;
    left: 3%;
    z-index: -1;
}
#experience_img::after{
    
    bottom: 0%;
    right: 4%;
    z-index: -1;
}
/* end experience  */

 }


@media (min-width: 1400px) {
    
    /* start experience */

    #experience>div{
        margin-top: 200px;
    }
#experience_img::before{
   width: 60%;
    top: -5%;
    left: 10%;
    z-index: -1;
}
#experience_img::after{
    
    bottom: 0%;
    right: 8%;
    z-index: -1;
}
/* end experience  */
 }